<tr>
  <td valign="top">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td height="88" valign="top">
          <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <td width="30" valign="top">&nbsp;</td>
              <td width="141" height="88" valign="top"><a href="http://vghfoundation.ca/" target="_blank"><img style="display: block;" src="http://support.vghfoundation.ca/custom/df_2016/images/vgh-enews-header-logo.jpg" border="0" alt="Vancouver General Hospital Foundation Logo" /></a></td>
              <td width="153" valign="top">&nbsp;</td>
              <td width="196" valign="top">
                <table border="0" cellspacing="0" cellpadding="0" width="196">
                  <tr>
                    <td height="25">&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="38" valign="top">
                      <a href="#" target="_blank">
                        <img style="display: block;" src={{imgUrl}} border="0" alt="Donate Now" /></a></td>
                      </tr>
                      <tr>
                        <td height="25" valign="top">&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                  <td width="30" valign="top">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
