<tr>
  <td valign="top">
    <table border="0" cellspacing="0" cellpadding="15" width="100%">
      <tbody>
        <tr>
          <td>
<!--TEASER TEXT START-->
            <table border="0" cellspacing="0" cellpadding="0" width="520">
              <tbody>
                <tr>
                  <td width="450" valign="middle">
                    <!-- <p style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; margin: 0px; padding: 0px; color: #636366;">Short teaser text to preview any items or discuss an overarching theme</p> -->
                  </td>
                  <td width="20" valign="top">&nbsp;</td>
                  <td width="100" valign="middle">
                    <p style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; margin: 0px; padding: 0px; color: #636366;" align="right"><a style="color: #636366;" href="http://support.vghfoundation.ca/site/MessageViewer" target="_blank">View online</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
